<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Optional; only needed on Android 13+ if you want download notifications to always show -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Storage/media read permissions (Android 13+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Storage read permission (Android 12 and below) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <!-- For Android 9 and below when saving to public folders -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:label="Fastt"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fastt">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
<!-- Open TikTok links directly -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="www.tiktok.com" />
                <data android:scheme="https" android:host="tiktok.com" />
                <data android:scheme="https" android:host="vm.tiktok.com" />
                <data android:scheme="https" android:host="vt.tiktok.com" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShareMenuActivity"
            android:exported="true"
            android:theme="@style/Theme.Fastt.Transparent"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

    </application>
</manifest>
